@font-face {
    font-family: poppins-medium;

    src: url('../../../fonts/poopins/Poppins-Medium.otf');
}

.Home {
    min-height: 100vh;
    width: 100%;
    background-image:
        linear-gradient(45deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)), url("../../../assests/BPD\ UI\ WEB\ PROTOTYPE\ \(1920\ ×\ 1080px\).png");
    background-size: cover;
}

.Home__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Home__Icon img {
    width: 100px;
    /* display: flex;
    justify-content: center; */
    margin-left: 2rem !important;

}

.Home__Icon p {
    font-size: 17px;
    font-family: poppins-medium !important;
    letter-spacing: 2px;
}
.Home__body__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.Home__body__button__staff, .Home__body__button__pateint {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
    width: 100%;
    background-color: #2F6EBC;
    padding: .5rem 2rem !important;
    padding-right:  4rem !important;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-family: poppins-medium;
}
.Home__body__button__staff img ,.Home__body__button__pateint img {
    width: 57px;
    height: 57px;
}
.Home__body__button__staff{
    padding-right: 5rem !important;
}
.Home__body__button__pateint{
    background-color: #FFFFFF;
    color: #185EB6;
    margin-top: 1rem !important;
    
}
