@font-face { font-family: poppins-regular; 
    src: url('../../fonts/poopins/Poppins-Regular.otf');
 } 
 @font-face { font-family: poppins-medium; 
    
    src: url('../../fonts/poopins/Poppins-Medium.otf');
 } 


.loginSection {
    background-image: url('../../assests//loginBg.png');
    background-repeat: no-repeat;
    height:100vh;
    background-size: cover;
    width: 100%;
}
.logoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoSection img {
    width: 100px;
}
.logoSection p {
    font-size: 17px;
    font-family: poppins-medium !important;
}
