@font-face {
    font-family: poppins-medium;

    src: url('../../../fonts/poopins/Poppins-Medium.otf');
}

@font-face { font-family: poppins-regular; 
    src: url('../../../fonts/poopins/Poppins-Regular.otf');
 } 
.upperLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.upperLogo img{
    width: 100px;
}
.PateintRegister {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-bottom:1rem !important ;
    margin-right: 7rem !important;
    margin-left: 7rem !important;
    min-height: 80vh;
}

@media only screen and (max-width: 1450px) {
    .PateintRegister {
       
        margin-right: 3rem !important;
        margin-left: 3rem !important;
        
    }
  }

.PateintRegister img {
    width: 100px;
}

.PateintRegister__body {
    display: flex;
    /* align-items: center; */
    justify-content: center;
   
    margin-top: 2rem !important;
    gap: 30px;
}

.PateintRegister__body__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.PateintRegister__body__leftCard {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    position: relative;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    padding-bottom: 2rem !important;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.PateintRegister__body__leftCard img {
    position: absolute;
    width: 70px !important;
    height: 70px !important;
    top: -2.4rem;

}

.PateintRegister__body__leftCard__body {
    margin-top: 2.5rem !important;
}

.PateintRegister__body__leftCard__body p {
    font-weight: 700;
    color: #185EB6;
    font-size: 25px;
    letter-spacing: 2.25px;
    font-family: poppins-medium;
    padding-bottom: 25px !important;
}

.PateintRegister__body__leftCard__body h4 {
    background-color: #185EB6;
    color: #fff;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    padding-top: .6rem !important;
    padding-bottom: .6rem !important;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500 !important;
}

.PateintRegister__body__leftCard__bodySeacrh {
    background-color: #fff !important;
    color: #185EB6 !important;
    margin-bottom: .8rem !important;
}

.PateintRegister__body__leftCard__bodyGoback {
    background-color: #fff;
    color: #185EB6;
    width: 7rem !important;
    border-radius: 10px ;
    text-align: center;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.PateintRegister__body__leftGoback h4{
    font-family:  poppins-medium;
    font-size: 20px;
    margin-top: 20px !important;
}

/* Right containr from  */
.PateintRegister__body__right {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100% !important;
    border-radius: 15px !important;
    padding: 1rem 3rem !important;
    height: fit-content !important;
}

textarea::-webkit-scrollbar {
    width: .5em;
    cursor: pointer !important;
   
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    cursor: pointer !important;
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: none !important;
  cursor: pointer !important;
}
.PateintRegister__body__right h2 {
    font-weight: 700;
    color: #185EB6;
    font-size: 23px;
    letter-spacing: 2.25px;
    font-family: poppins-medium;
    text-align: center;
}
.searchBody {
    margin-top: 20px !important;
    border-bottom: 3px solid #FFFFFF;

}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px !important;   

}

.inputWrap {
    position: relative;
    /* width: 300px; */
}
.search input {
     width: 250px;
    height: 45px;
    background-color: #CFDBE3;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 12px !important;
}

.iconinner {
    position: absolute;
    right: 7px; 
    top: 7px;
    bottom: 3px;
    border: 0;
    cursor: pointer;
}
.search img {
    width: 50px;
}



.search ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   
    
    font-family: poppins-regular;
  }
  
  .search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: poppins-regular;
  }
  
  .search::-ms-input-placeholder { /* Microsoft Edge */
    font-family: poppins-regular;
  }

  .mainBody {
    margin-top: 20px !important;
    height:390px !important;
    overflow-y: auto;
    padding: 20px 20px 20px 10px !important;
  }


  
  .singlePatient {
    /* margin:15px 0 !important; */
    margin-bottom: 20px !important;
    width:100%;
    background-color: #FFFFFF;
    opacity: .7;
    border-radius: 20px;
    padding:8px 40px !important;
    

  }
  .singlePatient p {
    font-family: poppins-regular;
    font-size: 21px;

  }

  ::-webkit-scrollbar-button {
    height: 12px;
  }

   /* Designing for scroll-bar */
   ::-webkit-scrollbar {
    /* display: block !important;
    height: 5px !important; */
    width: 15px;

    
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFFFFF;
    opacity: .7;
    border-radius: 5px;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  
    background: #CFDBE3;
    border-radius: 5px;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
}
  



