
.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem !important;
}
.wrap{
    position: relative !important;
}
.point {
    position: absolute;
   
    /* right: 5px !important; */
    width: 8px;
    height: 8px;
    background-color: blue;
    color: red;
    border-radius: 50%;
}