@font-face {
    font-family: poppins-medium;

    src: url('../../fonts/poopins/Poppins-Medium.otf');
}

@font-face { font-family: poppins-regular; 
    src: url('../../fonts/poopins/Poppins-Regular.otf');
 } 

 @font-face { font-family: poppins-bold; 
    src: url('../../fonts/poopins/Poppins-Bold.otf');
 } 
.navImg{
    display: flex;
    justify-content: center;
    padding-top: 30px !important;
}

.navImg img {
    width: 80px;
}
.notification {
    position: fixed;
    top: 45px;
    right:320px;
}
.notyOuter {
    padding: 10px !important;
    background-color: #FFFFFF;
    cursor: pointer;
    opacity:0.6;
    border-radius: 50%;
}

.notyOuterActive {
    padding: 10px !important;
    background-color: #185EB6;
    cursor: pointer;
    opacity:1;
    color: #FFFFFF !important;
    border-radius: 50%;
}

.outerNotification { 
    width:350px;
    
    /* display: flex;
    justify-content: space-between; */
    background-color: #D7EEFE;
 /* opacity: .5; */
   padding: 5px !important;
   border-radius: 10px;
   /* margin-right: 30px !important; */
}

.unread {
    display: flex;
    align-items: end;
    padding-left: 15px !important;
}
.unread p {
    font-family: poppins-regular;
    font-size: 12px;
    color:#185EB6;
    -moz-text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    -webkit-text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.notyBoxOuter {
    height:165px;
   overflow-y: auto;

}

.notyBox {
    height:65px;
    background-color: #FFFFFF;
    margin: 12px !important;
    border-radius: 15px;
    -moz-box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.15);
}
.userProfile {
    position: fixed;
    top: 40px;
    right:100px;
}
.profileFlex {
    display: flex;
    align-items: center;
    /* opacity:0.55; */
    cursor: pointer;
    

}

.outer {
    border-radius: 30px;
    padding: 5px !important;

    color: #185EB6;
    background-color: #D7EEFE;

}
.outerActive {
    border-radius: 20px;
    color: #FFFFFF;
    padding: 5px 10px !important;
    background-color: #185EB6;
    padding-bottom: 10px !important;

}
.borderLine {
    border-top: 2px solid #ffff !important;
    /* margin-bottom: 10px !important; */
    
}

/* .profileFlexActive {
    display: flex;
    align-items: center;
    padding: 5px !important;
    /* opacity:0.55; */
    /* border-radius: 30px;
    cursor: pointer;
   
    border-bottom: 2px solid #ffff;
} */ 

.buttonOuter {
    display: flex;
    justify-content: center;
}

.profileButton {
    border: none;
    outline: none;
    background-color: #FFFFFF;
    color:#185EB6;
    font-family: poppins-medium;
    padding:4px 10px !important;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 10px !important;

  
}
.profileImg{
    width:50px;
    border-radius: 50%;
    
}
.profiletext {
    padding-left: 10px !important;
    font-family: poppins-bold;
    font-size: 20px;  
}

.notyBoxOuter::-webkit-scrollbar-button {
    height: 12px;
  }

   /* Designing for scroll-bar */
   .notyBoxOuter::-webkit-scrollbar {
    /* display: block !important;
    height: 5px !important; */
    width: 10px;

    
}

/* Track */
.notyBoxOuter::-webkit-scrollbar-track {
    background: #FFFFFF;
    opacity: .7;
    border-radius: 5px;
  
}

/* Handle */
.notyBoxOuter::-webkit-scrollbar-thumb {
  
    background: #185EB6;
    border-radius: 5px;


}