.navbarMain {
    z-index: 10 !important;
}

.showHide {
    position: fixed;
    top: 1rem;
    left: 3rem;
    margin-right: 0 !important;
    z-index: 200;

}

.showHide i {
    font-size: 50px !important;
    cursor: pointer;
    font-weight: 800;
    transition: 1s all ease-in !important;
}

.hide {

    opacity: 0;
    z-index: -1;
    transition: opacity .7s ease-in-out !important;
}

.show {
    transition: opacity .7s ease-in-out !important;
    opacity: 1;
    z-index: 100;


}

.NavbarContainer__contentHide {
    width: 20rem;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    /* z-index: 100 !important; */

}

@keyframes delay {
    0% {
        opacity: 0;
        transition: all 1s linear;
    }

    100% {
        opacity: 1;
        transition: all 1s linear;
    }
}

@keyframes hidecross {
    0% {
        opacity: 0;
        transition: all 1s linear;
    }

    100% {
        opacity: 1;
        transition: all 1s linear;
    }
}

@keyframes showcross {
    100% {
        opacity: 0;
        transition: all 1s linear;
    }

    0% {
        opacity: 1;
        transition: all 1s linear;
    }
}


.NavbarContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
}

.NavbarContainer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.NavbarContainer__content__logo {
    display: flex;
    flex-direction: column;
    margin-top: 4rem !important;
    margin-left: -5rem !important;
}

.NavbarContainer__content__logo img {
    height: 100px;
    width: 100px;
}

.NavbarContainer__content__logo button {

    text-align: center;
    letter-spacing: 0px;
    width: 10rem;
    color: #185EB6;
    text-shadow: 0px 3px 20px #00000029;
    font-weight: 500;
    font-size: 25px;
    opacity: 1;
    padding: 10px 10px;
    border-radius: 30px;
    outline: none;
    border: none;
}

.stafmanagement__head {
    cursor: pointer;
    /* padding: 15px 30px !important; */
    display: flex;
    justify-content: flex-start;
    width: 16rem;
    color: #185EB6;
    padding-left: .7rem !important;
    /* text-align: center; */
    background: rgba(255, 255, 255, 0.5);
    font-family: poppins-medium !important;
    margin-top: 1rem !important;
    font-size: 20px;
    border-radius: 30px;
    /* list-style: none; */
}

.staffMangaemnet {
    margin-left: 4rem !important;
    cursor: pointer;
    font-family: poppins-medium !important;
    color: #185EB6;

}

.staffMangaemnet li {
    list-style: circle !important;
    margin-top: 1rem !important;
}

.hideLi {
    max-height: 0;
    transition: max-height .7s ease-out;
    overflow: hidden;
}

.expnadli {
    max-height: 5rem;
    transition: max-height .7s ease-in;
    overflow: hidden;
}

@media screen and (max-width:1025px) {
    .NavbarContainer__contentHide {
        width: 20rem;
        height: 100vh;
        background: rgba(255, 255, 255, 1);


    }
}

@media screen and (max-width:378px) {
    .showHide {
        left: 1rem;

    }

}