.colorBg .div1 {
    width: 10%;
    background: #50B188 0% 0% no-repeat padding-box;
    height: 100%;
    position: absolute;
    top: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: inset 0px 3px 6px #00000029;
}

.colorBg .div2 {
    width: 10%;
    background: #60CC5C 0% 0% no-repeat padding-box;
    height: 100%;
    position: absolute;
    top: 0;
    box-shadow: inset 0px 3px 6px #00000029;
    left: 10%;
}

.colorBg .div3 {
    width: 10%;
    background: #BFCA24 0% 0% no-repeat padding-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20%;
    box-shadow: inset 0px 3px 6px #00000029;
}

.colorBg .div4 {
    width: 10%;
    background: #F2E503 0% 0% no-repeat padding-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 30%;
    box-shadow: inset 0px 3px 6px #00000029;
}

.colorBg .div5 {
    width: 10%;
    background: #FBDB00 0% 0% no-repeat padding-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40%;
    box-shadow: inset 0px 3px 6px #00000029;
}

.colorBg .div6 {
    width: 10%;
    background: #FDBB03 0% 0% no-repeat padding-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    box-shadow: inset 0px 3px 6px #00000029;
}

.colorBg .div7 {
    width: 10%;
    background: #FC9003 0% 0% no-repeat padding-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 60%;
    box-shadow: inset 0px 3px 6px #00000029;
}

.colorBg .div8 {
    width: 10%;
    background: #FF6600 0% 0% no-repeat padding-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 70%;
    box-shadow: inset 0px 3px 6px #00000029;
}

.colorBg .div9 {
    width: 10%;
    background: #DF2900 0% 0% no-repeat padding-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 80%;
    box-shadow: inset 0px 3px 6px #00000029;
}
.colorBg .div10{
    width: 10%;
    background: #B73533 0% 0% no-repeat padding-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 80%;
    box-shadow: inset 0px 3px 6px #00000029;
}

.colorBg .div10 {
    width: 10%;
    background: #B73533 0% 0% no-repeat padding-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 90%;
    box-shadow: inset 0px 3px 6px #00000029;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.containerStyles {
    margin-top: 10rem;
    height: 15px;
    object-fit: contain;
    width: 70%;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    display: flex;
    position: relative;
    background-color: aquamarine;
}

.containerStyles input {
    width: 100%;
    background-color: transparent;
}

input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: transparent;
    z-index: 100;
}

.slider::-webkit-slider-thumb {
    width: 22px;
    -webkit-appearance: none;
    height: 22px;
    border-radius: 50%;

    cursor: ew-resize;
    background: #fff;
    /* box-shadow: 0px 2px 19px #00000029; */
    border: 3px solid #ccc;
    cursor: pointer;
}