 .mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
 }
 .containerDiv {
    background-color: #FFFFFF;
    width: 80%;
    height: 20rem;
    border-radius: 5px;
    padding: 10px 90px !important;
 }
 .row {
    display: flex;
    margin-top: 5px !important;
 }
 .row button {
    border: none;
    outline: none;
    background-color: #185EB6;
    color: #FFFFFF;
    font-family: poppins-medium;
    width: 220px;
    height: 35px;
    font-size: 14px;
    border-radius: 5px;

 }
 .color {
    width: 80px;
    height: 35px;
    /* color:grey; */
    background-color: aqua;
    margin: 0 5px !important;
    border-radius: 5px;

 }
 .input {
    width: 100%;
    border: 1px solid #185EB6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    align-items: center;
    box-shadow: inset 0px 3px 6px #00000029;
 }

 .sliderParent{
    position:relative;
    height: 40px;
    width: 100% !important;
    
  }
  .sliderParent input {
    width: 100% !important;
    height: 40px;
    display: flex;
    justify-content: center;
  }
  .buble{
    position:absolute;
  }