.image {
   display: flex;
   justify-content: center;
   padding-top: 15px !important;
}

.cardLeft h2 {
   font-family: poppins-medium;
   color: #185EB6;

}

.cardMiddle {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.backButton {
   border: none;
   outline: none;
   padding: 4px 5px !important;
   padding-right: 8px !important;
   font-family: poppins-medium;
   color: #185EB6;
   background-color: #E4F3FE;
   border-radius: 5px;
   font-size: 19px;
   margin-right: 15px !important;
}

.button2 {
   background-color: #7EB3E4;
   color: #FFFFFF;

}

.homeButton {
   border: none;
   outline: none;
   padding: 4px 10px !important;
   border-radius: 5px;
   -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
   -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
   background-color: #FFFFFF;
}

.cardMiddleButton {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   box-shadow: inset 3px 3px 5px #00000029;
   padding: 15px 15px !important;
   border-radius: 10px;
   box-shadow: 5px 6px -5px 6px #00000029;
   width: 250px;
}

.cardMiddleButton p {
   font-weight: 600;
   color: #185EB6;
   font-family: Poppins-semiBold;
}


.cardMiddle button {
   border: none;
   outline: none;
   width: 220px;
   height: 35px;
   /* margin-bottom: 20px !important; */
   border-radius: 10px;
   color: #FFFFFF;
   font-family: poppins-semiBold;
}

.nameBelow {
   display: flex;
   /* justify-content: center; */
   justify-content: space-between;
   align-items: center;
}

.nameBelow p {
   font-family: poppins-medium;
   /* margin-right: 10px !important; */
   color: #185EB6;
}

.nameBelow span {
   font-family: poppins-regular;
   color: #185EB6;
   font-size: 14px;

}

.cardLeft {
   position: relative;
}

.cardInner {
   display: flex;
   justify-content: space-between;
}

.card {
   /* padding: 10px 0px 10px 15px !important; */
   background-color: #FFFFFF;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   padding: 5px 10px !important;
   z-index: 5;
}

.left button {
   border: none;
   outline: none;
   width: 300px;
   height: 38px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   font-family: poppins-semiBold;
   font-size: 19px;
   font-weight: 700;

}

.button1 {
   margin-right: 20px !important;
   /* -moz-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.16);
   -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.16); */
   /* box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.16); */
   background-color: #FFFFFF;
   color: #185EB6;

}

.modelbutton .button1 {
   border: none;
   width: 154px;
   height: 45px;
   outline: none;
   padding: 10px 5px !important;
   background: #185EB6 0% 0% no-repeat padding-box;
   border-radius: 10px;
   font-weight: 600;
   color: #fff;
   box-shadow: 3px 10px 25px #00000029;
}

.modelbutton .button2 {
   border: none;
   width: 154px;
   height: 40px;
   outline: none;
   padding: 10px 5px !important;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   border-radius: 10px;
   color: #185EB6;
   font-weight: 600;
   box-shadow: 3px 10px 25px #00000029;
}


.image img {
   width: 80px;
}

.topNav {
   margin-top: 30px !important;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.main {
   padding: 0 90px !important;
   position: relative;
}

.mainDiv {
   display: flex;
   justify-content: center;
   align-items: center;
   /* height: 100vh; */
   margin-top: 10px !important;

}

.containerDiv {
   background-color: #FFFFFF;
   width: 88%;
   height: 20rem;
   border-radius: 5px;
   padding: 10px 90px !important;
}

.row {
   display: flex;
   margin-top: 5px !important;
}

.row button {
   border: none;
   outline: none;
   background-color: #185EB6;
   color: #FFFFFF;
   font-family: poppins-medium;
   width: 220px;
   height: 35px;
   font-size: 14px;
   border-radius: 5px;

}

.color {
   width: 80px;
   height: 35px;
   /* color:grey; */
   background-color: aqua;
   margin: 0 5px !important;
   border-radius: 5px;

}

.input {
   width: 100%;
   border: 1px solid #185EB6;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   align-items: center;
   box-shadow: inset 0px 3px 6px #00000029;
}

.sliderParent {
   position: relative;
   height: 40px;
   width: 100% !important;

}

.sliderParent input {
   width: 100% !important;
   height: 40px;
   display: flex;
   justify-content: center;
}

.buble {
   position: absolute;
}


.inputDiv {
   margin-top: 30px !important;
   display: flex;
   align-items: center;
   /* justify-content: center; */
   justify-content: space-between;
   -moz-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.16);
   -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.16);
   box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.16);
   /* padding: 2px !important; */
   margin-bottom: 10px !important;
   border-radius: 8px;

}

.inputDivDate {
   display: flex;
   cursor: pointer;
}

.dropDown {
   background: #9E9E9E 0% 0% no-repeat padding-box;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;

}

.dropDown svg {
   transform: rotate(90deg);
   color: #fff;
   font-weight: 700 !important;
   cursor: pointer;
}

.select {
   appearance: none !important;
   -moz-appearance: none !important;
   -webkit-appearance: none !important;
   border: none;
   outline: none;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   height: 30px !important;
   padding-left: 15px !important;
   padding-right: 10px !important;
   font-family: poppins-medium;
   color: #185EB6;
   background-repeat: no-repeat;
   background-position: calc(100% - 1px) center;
   background-size: 27px;
}

.select option {
   height: 10px !important;
   padding: 30px !important;
}


.inputDiv p {
   font-family: poppins-semiBold;
   color: #185EB6;
   font-size: 16px;
   /* padding-left: 10px !important;
   padding-right: 10px !important; */
   padding: 4px 10px !important;
}

.dateWrap {
   display: flex;
   align-items: center;
   padding: 2px 0 !important;
   background-color: #F1F1F1;
   border-radius: 5px;
}

.dateWrap p {
   font-family: poppins-medium !important;
   font-size: 14px !important;
   color: #185EB6;
}

.dateWrap span {
   font-family: poppins-regular !important;
   font-size: 14px !important;
   color: #185EB6;
   padding-right: 25px !important;
}

.showDrop {
   max-height: 10rem !important;

}

.hideDrop {
   max-height: 0rem !important;

}

.inputDivDateList {
   position: absolute;
   z-index: 10;
   top: 7rem;
   border-radius: 10px !important;
   gap: 20px;
   right: 81px !important;
   /* left: 5.5rem; */
   width: 17%;
   padding: 0 10px !important;
   background-color: #fff;
   margin-right: 20px !important;
}

.inputDivDateListOption {

   transition: max-height .5s ease-in-out;
   width: 100%;
   max-height: 10rem;
   overflow-y: auto;
}

.inputDivDateListOption::-webkit-scrollbar {
   width: .5em;
   cursor: pointer !important;
   height: 50px !important;

}

.inputDivDateListOption::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   cursor: pointer !important;

}

.inputDivDateListOption::-webkit-scrollbar-thumb {
   background-color: darkgrey;

   outline: none !important;
   cursor: pointer !important;
}

.inputDivDateListOption p {
   cursor: pointer !important;
}

.registarionRemarkMain {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column !important;
}

.registarionRemark {
   width: 88%;
   height: 30px;
   display: flex;
   align-items: center;
 
   justify-content: center;
   background: #185EB6 0% 0% no-repeat padding-box;
   box-shadow: 3px 10px 25px #00000029;
   border-radius: 10px;
   opacity: 0.5 !important;
}
.registarionRemark p{
   text-align: center;
   font: normal normal 600 18px/27px;
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;
}
.registarionRemarkMain textarea{
   padding-left: 10px !important;
   padding-top: 10px !important;
}
.textaresReg{
   width: 88% !important;
   border-radius: 10px;
   /* opacity: 0.22; */

   outline: none;
   border: none;
   min-height: 100px;
   background: #eeeeee 0% 0% no-repeat padding-box;
}