

.cameraMain {
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 105vh !important;
    width: 100% !important;
    /* margin-bottom: 10px !important; */
}
.width {
    width: 80%;
    /* background-color: #D5EDFC; */
}
.nav {
    background-color: #185EB6;
    width: 100% !important;
    /* padding: 8px 0 !important; */
    border-radius: 5px;
}
.navButton {
    background-color: #FFFFFF;
    width: 250px;
    padding: 4px 5px !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.navButton img {
    width: 50px;
    height: 40px;
}
.navButton p {
    font-family: poppins-semiBold;
    color: #185EB6;
}
.mainBody {
    /* margin-top: -15px !important; */
    background-color: #F9FDFF;
    padding: 20px 2px 30px 2px !important;
    border-radius: 5px;
}
.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}
.inner h3 {
    text-align: center;
    color: #185EB6;
}

.cameraStyle {
   padding : 5px !important;
   border: 4px solid #185EB6;
   height: 35rem;
   width: 600px;
   /* margin: 100px !important; */
   position: relative;
}
.centerLine {
    margin-top: -5px !important;
    position: absolute;
    top:0;
    left:50%;
    height: 34.7rem;
    border-left: 2px solid red;
    z-index: 105;
}


.wrap{
    position: relative;
    /* border:0.1px solid red; */
    /* width: 100%; */
    /* transform-origin:center 0px; */
   


}
.wrap img {
    
    /* height: 500px; */
    /* transform: scale(1.4); */
    transform-origin:center 0px;
}
.point {
    position: absolute;
    /* right: 5px !important; */
    width: 8px;
    height: 8px;
    background-color: blue;
    color: red;
    border-radius: 50%;
}

.bottomButton {
    padding-right: 60px !important;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: column;
}

.bottomButton button {
    width: 180px;
    height: 35px;
    margin-bottom: 20px !important;
    background-color: #185EB6;border: none;
    outline: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: poppins-medium;
}
.controlEdit{
    position: absolute;
    top: 90%;
    left: 20% !important;
    gap: 10px;
}
.controlEditInner {
    position: relative;
    width: 5rem;
    height: 5rem;
}
.leftScale{
    transform: rotate(180deg);
}
.topScale{
    transform: rotate(90deg);
}
.bottomScale{
    transform: rotate(-90deg);
}