.App {
  text-align: center;
  overflow: hidden !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cameraMargin {
  margin-right: auto !important;
  margin-left: auto !important;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px !important;
}
.toggle__switch {
  display: inline-block;
  background: black;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle__switch:before, .toggle__switch:after {
  content: '';
}
.toggle__switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle__switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle__checkbox:checked + .toggle__switch {
  background: #2567ba;
}
.toggle__checkbox:checked + .toggle__switch:before {
  left: 30px;
}
.toggle__checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle__label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

