@font-face { font-family: poppins-semiBold; 
    src: url('../../../fonts/poopins/Poppins-SemiBold.otf');
 } 

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    width: 100% !important;
}
.nav {  
    width: 70% !important;
}
.navWrapper {
    position: relative !important;
    background-color: #185EB6;
    width: 100% !important;
    z-index:100 !important;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;

}

.left {
    display: flex;
    background-color: #FFFFFF !important;
    align-items: center;
    border-radius: 10px;
    -moz-box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);
    box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);
    padding-right: 40px !important;

}
.left img {
    width:40px;
    /* -moz-box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.16); */
}
.left p {
    font-family: poppins-medium;
}

.right {
    /* padding-top: 5px !important; */
    /* margin-top: 5px !important; */
    margin-right: 10px !important;
    padding: 3px 9px !important;
    background-color: #FFFFFF;
    border-radius: 50% !important;

}

.right img {
    width:40px;
}
.crossIcon {
/* margin-top: -3px !important; */
font-weight: 700 !important;
font-family: poppins-medium;
}

.mainCard {
    position: relative !important;
    background-color: #FFFFFF !important;
    border-radius: 10px;
    padding-top: 40px !important;
    padding-bottom: 20px !important;
    margin-top: -15px !important;
    z-index: 1 !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.heading h2 {
    text-align: right;
    color: #185EB6;
    font-family: poppins-semiBold; 
}
.profileCard {
    margin-top: 25px !important;
    margin-bottom: 25px !important;

    -moz-box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);
    box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 15px !important;
}

.profileWrap {
    display: flex;
    justify-content: space-between;

}
.profileLeft h3 {
    color: #185EB6;
    font-family: poppins-semiBold;
}

.profileLeft p {
    color: #185EB6;
    font-family: poppins-regular;
    font-size: 13px;
}

.profileRight {
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16) inset;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16) inset;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16) inset;
    padding: 10px 20px 5px 20px !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileRight p {
    color: #185EB6;
    font-family: poppins-medium;
}
.search {
    display: flex;
    align-items: center;
}
.inputOuter {
    position: relative;
    /* width: 347px; */
}
.inputOuter input {
    padding-left: 15px !important;
    width:230px;
    height:37px;
    border: none;
    outline: none;
    border-radius: 5px;
    -moz-box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);
    box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);
}

.iconinner {
    position: absolute;
    right: 7px; 
    top: 7px;
    bottom: 3px;
    border: 0;
    cursor: pointer;
}

.sortBy {
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.selectStyle {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    border: none;
    outline:none;
    background-color: #9E9E9E;
    border-radius: 5px;
    height: 37px !important;
    padding-left: 15px !important;
    padding-right: 20px !important;
    font-family: poppins-medium;
    color:#FFFFFF;
    background-image: url('../../../assests/sortBy.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 4px) center;
    background-size: 20px;


}

.filterStyle {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    border: none;
    outline:none;
    background-color: #9E9E9E;
    border-radius: 5px;
    height: 37px !important;
    padding-left: 15px !important;
    padding-right: 20px !important;
    font-family: poppins-medium;
    color:#FFFFFF;
    background-image: url('../../../assests/filter.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 4px) center;
    background-size: 20px;


}

.mainTable {
    margin-top: 35px !important;
}
.tableHeading {
    background-color: #709BD2;
    padding: 7px 15px !important;
    border-radius: 5px;
}
.date {
    display: flex;
    align-items: center;

}
.date p {
    font-family: poppins-medium;
    color:#FFFFFF;
}

.tableBody {
    margin-top: 15px !important;
    height:200px;
   overflow-y: auto;
   padding-right: 15px !important;
}

.buttonFlex {
    display: flex;
    justify-content: center;
}

.buttonFlex button {
    border: none;
    outline: none;
    padding: 5px 25px !important;
    border-radius: 5px;
    background-color: #185EB6;
    color: #FFFFFF;
    font-family: poppins-medium;
}

.tableBody::-webkit-scrollbar-button {
    height: 12px;
  }

   /* Designing for scroll-bar */
   .tableBody::-webkit-scrollbar {
    /* display: block !important;
    height: 5px !important; */
    width: 10px;

    
}

/* Track */
.tableBody::-webkit-scrollbar-track {
    background: #FFFFFF;
    /* opacity: .7; */
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.16);
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.16);
  
}

/* Handle */
.tableBody::-webkit-scrollbar-thumb {
  
    background: #185EB6;
    border-radius: 5px;


}


.tableContent {
    background-color: #ECECEC;
    padding: 5px 15px !important;
    border-radius: 5px;
    cursor: pointer;
    /* -moz-box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);
    box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16); */
   
    /* margin-bottom: 15px !important; */
}
.tableContentOpen {
    
    background-color: #ECECEC;
    padding: 5px 15px !important;
    border-radius: 5px;
    cursor: pointer;
    -moz-box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);
    box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.16);

  
}
.tableContent p{
    /* padding-top: 5px !important; */
    color:#185EB6;
    font-family: poppins-medium;
   
}
.tableContentOpen p{
    /* padding-top: 5px !important; */
    color:#185EB6;
    font-family: poppins-medium;
   
}

.innerToggle {
 

   
    margin-top: 2px !important;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding:0px 20px 15px 20px !important;

}
.innerFlex {
    display: flex;
    /* justify-content: space-around;
    width: 100%; */
    flex-direction: row;
    flex-wrap: wrap;
}
.innerFlex p {
    color:#185EB6;
    font-family: poppins-medium;
    margin-right: 150px !important;
    margin-top: 20px!important;
}


